<div class="row" style="margin-top: 20px">
    <div class="col s12 l10 push-l1 z-depth-1 card-panel" style="padding: 20px;">
        <div ng-show="ndata" class="row card-panel center-align">
            <h3>No Data Available!</h3>
        </div>
        <div class="row card-panel" ng-repeat="tv in results">

            <div class="col s12 l12">
                <div class="row">
                    <img ng-src="{{tv.link}}" ng-hide="tv.link=='https://image.tmdb.org/t/p/w185null'"
                         width="160px" height="160px" class="col l2 recent"/>

                    <img src="http://localhost:63342/AutoComplete/img/def.jpg" ng-hide="tv.link!='https://image.tmdb.org/t/p/w185null'"
                         width="160px" height="160px" class="col l2 recent"/>

                    <div class="col l10">
                        <h4 ng-bind="tv.title"></h4>

                        <p ng-bind="tv.overview"></p></div>
                </div>
            </div>
        </div>
    </div>
</div>