<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link rel="stylesheet" href="../../../css/materialize.min.css"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Karla|Roboto+Mono|Raleway:700"/>

</head>
<style type="text/css">
    html,
    body {
        font-family: "Raleway", "Karla", "Roboto Condensed", Roboto, sans-serif;
        height: 100%;
        background-color: snow;
    }

    html {
        display: table;
        margin: auto;
    }

    body {
        display: table-cell;
        vertical-align: middle;
    }

    .btn {
        background-color: #00BFA5;
    }

    h3 {
        margin: 0 !important;
        padding-top: 17px;
    }

    .margin {
        margin: 15px !important;
    }
</style>
<body>
